
.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 100px #141b2d inset !important;
    caret-color: white !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
    border: 0 !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
}
